<div class="post">
  <h3>内容を修正する</h3>

  <%= render "form", complete: @complete %>

  <br>

  <div>
    <%= link_to "戻る", @complete %> |
    <%= link_to "達成したリスト一覧に戻る", completes_path %>
  </div>
</div>
