.category {
  width: 30%;
  height: max-content;
  padding: 30px;
  margin: auto;
  text-align: center;
}

.category h3 {
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid #ddd;
}
