<div class="category">
  <p style="color: green"><%= notice %></p>

  <h3>マイカテゴリ</h3>

  <div id="categories">
    <% @categories.each do |category| %>
      <%= link_to edit_category_path(category) do %>
        <%= render category %>
      <% end %>
    <% end %>
  </div>
</div>
