<div class="header">
  <div class="header_bar_left">
    <%= link_to root_path do %>
      <%= image_tag "logo.png" %>
    <% end %>
  </div>
  <div class="header_bar_right">
    <%= image_tag "user.png", size: '48x48' %>
  </div>
</div>
