<p><%= @resource.name %>　　様</p>

<p>パスワードを変更するためのメールが送信されました。以下のリンクから行うことができます。</p>

<p><%= link_to 'パスワードを変更される方はこちら', edit_user_password_url(@resource, reset_password_token: @token) %></p>

<p>このメールの有効期限は、受信してから６時間です。</p>
<p>それまでにパスワードの変更をお済ませください。</p>

<p>再設定のお手続きをしていない場合は、このメールを無視してください。</p>
<p>上記のリンクにアクセスして新しいパスワードを作成するまでは、パスワードは変更されません</p>

<p>Want To<p>
